<body class="container">
    <div class="sidebar">
        <p>G.Examen</p>
        <ul class="group1">
          <li><a href="planification" class="sdb">planification</a></li>
          <li><a href="calendrier"  class="sdb">calendrier</a></li>
          <li><a href="sujet"  class="sdb">sujet</a></li>
        </ul>
    
        <footer class="footer">
            <a href="accueil-general" class="btn">Se déconnecter</a>
        </footer>
      </div>
    
      <div class="sujet">
        <h2>Créer un Nouveau Sujet</h2>
        <form (ngSubmit)="createQCM()">
          <label for="classes">Classes:</label>
          <select id="classes" name="classes" [(ngModel)]="selectedClasses" (change)="onClassesChange()" multiple required>
            <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
          </select>
          
          <label for="subject">Matière:</label>
          <select id="subject" name="subject" [(ngModel)]="selectedSubject" required>
            <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
          </select>
          
          <button type="submit">Créer</button>
        </form>
      </div>
      
      
</body>
