<body class="container" ngSkipHydration>
    <div class="sidebar">
        <p>G.Examen</p>
        <ul class="group1">
          <li><a href="planification" class="sdb">planification</a></li>
          <li><a href="calendrier"  class="sdb">calendrier</a></li>
          <li><a href="sujet"  class="sdb">sujet</a></li>
        </ul>
    
        <footer class="footer">
            <a href="accueil-general" class="btn">Se déconnecter</a>
        </footer>
      </div>
      <div class="calendrier">
        <h2>Emploi du Temps</h2>
         <full-calendar [events]="events"></full-calendar>
      </div>
      
      
</body>
