<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interface Étudiant</title>
  <link rel="stylesheet" href="accueil-ens.component.css">
</head>
<body>
  <div class="sidebar">
    <p>G.Examen</p>
    <ul class="group1">
      <li><a href="planification" class="sdb">planification</a></li>
      <li><a href="calendrier"  class="sdb">calendrier</a></li>
      <li><a href="sujet"  class="sdb">sujet</a></li>
    </ul>

  
    <footer class="footer">
        <a href="accueil-general" class="btn">Se déconnecter</a>
    </footer>
  </div>

  <div class="content">
    <h1>Bienvenue sur votre espace enseignant</h1>
    <p>Vous pouvez planifier un examen, consulter le calendrier et confectionner des sujets.</p>
  </div>
</body>
</html>
