<!DOCTYPE html>
<html lang="en" ngSkipHydration>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planning des Examens</title>
  <link rel="stylesheet" href="planning-exam.component.css">
</head>
<body>
  <div class="sidebar">
    <p>G.Examen</p>
    <ul class="group1">
      <li><a href="planningExam" class="sdb">Planning</a></li>
      <li><a href="jourExam"  class="sdb">Jour d'examen</a></li>
      <li><a href="resultats"  class="sdb">Résultats</a></li>
    </ul>

    <footer class="footer">
        <a href="accueil-general" class="btn">Se déconnecter</a>
    </footer>
  </div>
  <div class="content">
    <h1>Planning des Examens</h1>

    <div class="planning-exam">
      <h2>Planning des Examens</h2>
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
      
    
  </div>

  
</body>
</html>